{% extends 'global/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'global/css/projeto.css' %}">
{% endblock style %}

{% block menu_links %}

    <li><a href="{% url 'portfolio:home' %}" class="link">Home</a></li>
    <li><a href="{% url 'portfolio:projetos' %}" class="link">Projetos</a></li>
    <li><a href="#" class="link">Blog</a></li>

{% endblock menu_links %}

{% block conteudo %}
    <section>
        <div class="conteudo-principal conteudo-centralizado-coluna gap">
            {% if projeto.conteudo_capa %}
                <img src="{{projeto.capa.url}}" alt="capa o projeto {{projeto.nome}}">
            {% endif %}

            <div class="cabecalho text-centro">
                <h2 class="nome fonte-estilo-titulo cor-destaque">{{projeto.nome}}</h2>
                <p class="descricao fonte-estilo-titulo">{{projeto.descricao}}</p>
                <div class="infos conteudo-centralizado-coluna fonte-estilo-navegacao">
                    <div class="conteudo-centralizado-linha gap">
                        <a href="{{projeto.repositorio_link}}" target="_blank">
                            <button class="button">
                                <span class="button_lg cor-fundo-verde">
                                    <span class="button_sl "></span>
                                    <span class="button_text">GitHub</span>
                                </span>
                            </button>
                        </a>
                        {% if projeto.projeto_aplicado  %}
                            <a href="{{projeto.link_aplicacao}}" target="_blank">
                                <button class="button">
                                    <span class="button_lg cor-fundo-laranja">
                                        <span class="button_sl"></span>
                                        <span class="button_text">Aplicação</span>
                                    </span>
                                </button>
                            </a>
                        {% endif %}
                    </div>
                    <div>
                        <p>Categoria: <span>{{projeto.categoria}}</span></p>
                        <p>Status: <span>{{projeto.status}}</span></p>
                    </div>
                </div>
            </div>

            <div class="fonte-pequeno-citacao">
                {{projeto.conteudo | safe }}
            </div>

        </div>
    </section>
{% endblock conteudo %}