<!DOCTYPE html>

{% load static %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}} | HericlysDev </title>
    <meta name="description" content="{{description_page}}">
    {% comment %} <link rel="shortcut icon" href="{% static 'global/images/icons/icon.png' %}" type="image/png"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'global/css/base_style.css' %}">
    {% block style %}{% endblock style %}
</head>
<body>
    <header class="" data-header="menu">
        <div class="menu conteudo-principal conteudo-centralizado-linha">
            <div class="logo">
                <h1 class="fonte-titulo fonte-estilo-titulo">Hericlys de Sá</h1>
            </div>
            <nav>
                <ul class="menu-links conteudo-centralizado-linha">
                    {% block menu_links %}{% endblock menu_links %}
                </ul>
            </nav>
        </div>
    </header>

    {% block conteudo %}{% endblock conteudo %}

    {% static 'global/js/base_script.js' %}
    {% block script %}{% endblock script %}
</body>
</html>