{% extends "global/base.html" %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static "global/css/accounts.css" %}">
{% endblock style %}

{% block menu_links %}
    <li><a href="{% url 'blog:posts' %}" class="link">blog</a></li>
    <li><a href="{% url 'portfolio:home' %}" class="link">Desenvolvedor</a></li>
{% endblock menu_links %}

{% block conteudo %}
    <section id="section-login" class="pagina-inteira conteudo-centralizado-coluna">
        <div class="conteudo-principal">

            {% include "global/parciais/mensagens.html" %}
            <form action="{% url 'accounts:password_recovery' authentication_token %}" method="post" class="conteudo-centralizado-coluna gap-micro form">
                {% csrf_token %}
                <div class="text-info">
                    <h2 class="text-centro fonte-estilo-titulo fonte-titulo cor-destaque">Recuperação de senha</h2>
                    <p class="text-centro fonte-estilo-titulo fonte-navegacao">Redefina sua senha</p>
                </div>
                <div class="input-area conteudo-centralizado-linha gap-pequeno">
                    <div class="input-container conteudo-centralizado-coluna">
                        <label class="fonte-estilo-links fonte-navegacao" for="senha" class="">Senha</label>
                        <input
                            type="password" name="senha" id="senha"
                            minlength="8"
                            required placeholder="digite sua nova senha"
                        >
                    </div>
                </div>
                <div class="input-area conteudo-centralizado-linha gap-pequeno">
                    <div class="input-container conteudo-centralizado-coluna">
                        <label class="fonte-estilo-links fonte-navegacao" for="senha2" class="">Confirmação</label>
                        <input
                            type="password" name="senha2" id="senha2"
                            minlength="8"
                            required placeholder="digite sua senha novamente"
                        >
                    </div>
                </div>
                <div class="form-button-container conteudo-centralizado-linha">
                    <button class="button">
                        <span class="button_lg cor-fundo-verde">
                            <span class="button_sl "></span>
                            <span class="button_text">Redefinir</span>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock conteudo %}

{% block script %}{% endblock script %}